<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <listener>
        <listener-class>org.apache.tiles.web.startup.simple.SimpleTilesListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Tiles Dispatch Servlet</servlet-name>
        <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tiles Dispatch Servlet</servlet-name>
        <url-pattern>*.tiles</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>ExhibitsServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.ExhibitsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExcursionsServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.ExcursionsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmployeesServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.EmployeesServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ExhibitsByAuthorServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.ExhibitsByAuthorServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExhibitsByHallServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.ExhibitsByHallServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExhibitsByMaterialServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.ExhibitsByMaterialServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExhibitsByTechniqueServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.ExhibitsByTechniqueServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExhibitsByEmployeeServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.ExhibitsByEmployeeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmployeesByPositionServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.EmployeesByPositionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmployeesByDateServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.EmployeesByDateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExcursionsFilterByDateServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.ExcursionsFilterByDateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WorkTimeByDateServlet</servlet-name>
        <servlet-class>com.softserve.academy.museum.servlets.WorkTimeByDateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExcursionsServlet</servlet-name>
        <url-pattern>/excursions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmployeesServlet</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExhibitsServlet</servlet-name>
        <url-pattern>/exhibits</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ExhibitsByAuthorServlet</servlet-name>
        <url-pattern>/exhibits/filterByAuthor</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmployeesByPositionServlet</servlet-name>
        <url-pattern>/employees/filterByPosition</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmployeesByDateServlet</servlet-name>
        <url-pattern>/employees/filterByDate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExcursionsFilterByDateServlet</servlet-name>
        <url-pattern>/excursions/filterByDate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>ExhibitsByHallServlet</servlet-name>
        <url-pattern>/exhibits/filterByHall</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExhibitsByMaterialServlet</servlet-name>
        <url-pattern>/exhibits/filterByMaterial</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExhibitsByTechniqueServlet</servlet-name>
        <url-pattern>/exhibits/filterByTechnique</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExhibitsByEmployeeServlet</servlet-name>
        <url-pattern>/exhibits/filterByEmployee</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WorkTimeByDateServlet</servlet-name>
        <url-pattern>/employees/getWorkTime</url-pattern>
    </servlet-mapping>

</web-app>